:root {
  /* typography */
  --light: 300;
  --regular: 400;
  --semibold: 600;
  --extrabold: 800;

  /* default colors */
  --elements: hsl(0, 0%, 100%);
  --background: hsl(0, 0%, 98%);
  --text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
}

body.dark-theme {
  /* colors when body element has .dark-theme */
  --elements: hsl(209, 23%, 22%);
  --background: hsl(207, 26%, 17%);
  --text: hsl(0, 0%, 100%);
  --input: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--light);
  font-style: normal;
  font-variation-settings: 'wdth' 100, 'YTLC' 500;
  font-size: 1em; /* 16px */
  line-height: 1.5;
  color: var(--text);
  background-color: var(--background);
  height: 100vh;
  margin: 0;
}
#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--extrabold);
  line-height: 1;
  margin: 0;
}
p {
  font-weight: var(--light);
  margin: 0;
}
ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 85rem;
  padding: 0 1.75rem;
  margin: 0 auto;
  @media (min-width: 576px) {
    padding: 0 2.5rem;
  }
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--elements);
  height: 5rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0562);
}
.header .container {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 1rem;
  @media (min-width: 576px) {
    padding: 0 2.5rem;
  }
}
.header h1 {
  font-size: 0.875rem;
  @media (min-width: 576px) {
    font-size: 1.5rem;
  }
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}
.header a {
  font-weight: var(--extrabold);
  text-decoration: none;
  color: var(--text);
}
.header__button {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  height: 2.5rem;
}
.header__button img {
  width: 0.75rem;
  margin-right: 0.4rem;
  @media (min-width: 576px) {
    width: 1rem;
    margin-right: 0.5rem;
  }
}
.header__button span {
  color: var(--text);
  font-weight: var(--semibold);
  font-size: 0.75rem;
  @media (min-width: 576px) {
    font-size: 1rem;
  }
}

.main {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.section--search-filter {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.75rem;
  width: 100%;
  padding: 2.5rem 0;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.search__input {
  font-weight: var(--regular);
  font-size: 0.875rem;
  color: var(--text);
  background-color: var(--elements);
  border-radius: 0.313rem;
  border: 0;
  width: 100%;
  height: 3.5rem;
  padding: 0 2rem 0 4.5rem;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.0532);
  &::placeholder {
    color: var(--input);
  }
  @media (min-width: 768px) {
    width: 30rem;
  }
  @media (min-width: 992px) {
    width: 30rem;
  }
}
.search__input-group {
  position: relative;
}
.search__input-group svg {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
}
.search__input-group path {
  fill: var(--input);
}
.search__input-group label {
  position: absolute;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.filter {
  position: relative;
  width: 12.5rem;
}
.filter__btn {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12.5rem;
  height: 3.5rem;
  background-color: var(--elements);
  border: 0;
  padding: 0 1.5rem;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.0532);
  border-radius: 0.313rem;
}
.filter__btn--open svg {
  transform: rotate(90deg);
}
.filter__btn span {
  font-weight: var(--regular);
  font-size: 0.875rem;
  color: var(--text);
}
.filter__btn path {
  fill: var(--text);
}
.filter__list {
  display: none;
  position: absolute;
  top: 3.75rem;
  width: 100%;
  background-color: var(--elements);
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.0532);
  border-radius: 0.313rem;
}
.filter__list--open {
  display: block;
}
.filter__list li {
  &:first-child button {
    padding-top: 1rem;
  }
  &:last-child button {
    padding-bottom: 1rem;
  }
}
.filter__list button {
  cursor: pointer;
  font-weight: var(--regular);
  color: var(--text);
  padding: 0.5rem 1.5rem;
  font-size: 0.875rem;
  width: 100%;
  text-align: left;
  background-color: transparent;
  border: 0;
}

.section--countries {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  @media (min-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.75rem 2rem;
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 992px) {
    gap: 2.75rem 3rem;
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem 4.625rem;
  }
}

.country {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.313rem;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294);
}
.country h2 {
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
}
.country h2 a {
  color: var(--text);
  text-decoration: none;
}
.country strong {
  font-weight: var(--semibold);
}
.country__img-wrapper {
  position: relative;
  aspect-ratio: 33 / 20;
  overflow: hidden;
}
.country__img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.country__details {
  flex-grow: 1;
  background-color: var(--elements);
  padding: 1.5rem;
  @media (min-width: 576px) {
    aspect-ratio: 33 / 20;
  }
}
.country__details-list {
  font-size: 0.875rem;
}

.section--country-detail {
  padding: 2.5rem 0;
}

.country-detail__details h2 {
  font-size: 1.375rem;
  margin-bottom: 2rem;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
}
.country-detail__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.5rem;
  height: 2rem;
  margin-bottom: 2.5rem;
  color: var(--text);
  background-color: var(--elements);
  font-weight: var(--light);
  font-size: 0.875rem;
  text-decoration: none;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1049);
  border-radius: 0.375rem;
  @media (min-width: 768px) {
    font-size: 1rem;
    width: 8.5rem;
    height: 2.5rem;
  }
}
.country-detail__arrow {
  margin-right: 0.5rem;
  width: 1rem;
  @media (min-width: 768px) {
    margin-right: 0.75rem;
    width: 1.188rem;
  }
}
.country-detail__arrow path {
  fill: var(--text);
}
.country-detail__img-wrapper {
  align-self: flex-start;
  width: 100%;
  max-width: 35rem;
  border-radius: 0.625rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
  @media (min-width: 768px) {
    margin-bottom: 0;
    align-self: center;
    width: 43.75%;
  }
}
.country-detail__img-wrapper img {
  display: block;
  width: 100%;
}
.country-detail__group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
.country-detail__details-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  @media (min-width: 768px) {
    width: 50%;
  }
}
.country-detail__details {
  align-self: center;
}
.country-detail__details strong {
  font-size: 1rem;
  width: 10.5rem;
  font-weight: var(--semibold);
}
.country-detail__list-group {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  @media (min-width: 768px) {
    gap: 1rem;
    flex-direction: row;
  }
}
.country-detail__details-list {
  font-size: 0.875rem;
  width: 100%;
  @media (min-width: 768px) {
    font-size: 1rem;
    width: 50%;
  }
}

.country-detail__details-list li {
  margin-bottom: 0.75rem;
}
.country-detail__details-languages span {
  &::after {
    content: ', ';
  }
  &:last-child::after {
    content: '';
  }
}
.country-detail__details-currencies span {
  &::after {
    content: ', ';
  }
  &:last-child::after {
    content: '';
  }
}
.country__border-countries {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-top: 1.5rem;
  @media (min-width: 768px) {
  }
  @media (min-width: 992px) {
    margin-top: 3rem;
    flex-direction: row;
  }
}
.country__border-countries ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.country__border-countries li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  text-align: center;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1049);
  background-color: var(--elements);
  border-radius: 0.125rem;
  height: 1.75rem;
  min-width: 6rem;
  padding: 0 0.5rem;
  outline: 1px black;
}

.footer {
  margin: auto auto 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
.footer p {
  font-size: 0.75rem;
  margin: 0;
}
.footer a {
  color: var(--text);
}
